<footer class="footer">
  <div class="footer-container">
    <div class="footer-item">
      <h3>Área Académica de Ingeniería en Computadores</h3>
      <p>CE-3101 - Bases de Datos</p>
      <p>Tarea Corta #2</p>
    </div>
    <div class="footer-item">
      <h3>Profesor</h3>
      <p>Marco Rivera Meneses</p>
    </div>
    <div class="footer-item">
      <h3>Estudiantes</h3>
      <p>David Alberto Robles Vargas</p>
      <p>Carlos Andrés Mata Calderón</p>
      <p>Felipe Vargas Jiménez</p>
      <p>Jose Ignacio Calderón</p>
      <p>Jose Carlos Umaña Rivera</p>
    </div>
    <div class="footer-item">
      <h3>II Semestre 2023</h3>
    </div>
  </div>
</footer>
