
api/.vs/CineTec/config/applicationhost.config
api/.vs/CineTec/FileContentIndex/20178618-ac40-4a1e-8b84-0ca23e77aaca.vsidx
api/.vs/CineTec/FileContentIndex/859cc336-2b66-4fa8-b166-811f4f9ca471.vsidx
api/.vs/CineTec/FileContentIndex/f861b080-90f2-4e9a-b019-416d0b370ef7.vsidx
api/.vs/CineTec/v17/.suo
api/CineTec/bin/CineTec.dll
api/CineTec/bin/CineTec.pdb
api/CineTec/obj/Debug/CineTec.csproj.AssemblyReference.cache
api/CineTec/obj/Debug/CineTec.csproj.CoreCompileInputs.cache
api/CineTec/obj/Debug/CineTec.csproj.FileListAbsolute.txt
api/CineTec/obj/Debug/CineTec.dll
api/CineTec/obj/Debug/CineTec.pdb
api/CineTec/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
api/.vs/CineTec/v17/.suo
api/.vs/CineTec/FileContentIndex/ab2eb424-6c47-4927-9f8e-2898e95cd0ed.vsidx
api/.vs/CineTec/FileContentIndex/508659e4-5033-42b2-af1f-f16bedc88da5.vsidx
api/.vs/CineTec/FileContentIndex/2f20726e-02b3-460f-9559-a5792d07365d.vsidx
api/.vs/CineTec/FileContentIndex/1af5a184-dc98-47a8-8f01-953e1398c98a.vsidx
api/.vs/CineTec/FileContentIndex/508659e4-5033-42b2-af1f-f16bedc88da5.vsidx
api/.vs/CineTec/v17/.suo
api/CineTec/obj/Debug/CineTec.csproj.AssemblyReference.cache
api/CineTec/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
