
api/.vs/CineTec/config/applicationhost.config
api/.vs/CineTec/FileContentIndex/20178618-ac40-4a1e-8b84-0ca23e77aaca.vsidx
api/.vs/CineTec/FileContentIndex/859cc336-2b66-4fa8-b166-811f4f9ca471.vsidx
api/.vs/CineTec/FileContentIndex/f861b080-90f2-4e9a-b019-416d0b370ef7.vsidx
api/.vs/CineTec/v17/.suo
api/CineTec/bin/CineTec.dll
api/CineTec/bin/CineTec.pdb
api/CineTec/obj/Debug/CineTec.csproj.AssemblyReference.cache
api/CineTec/obj/Debug/CineTec.csproj.CoreCompileInputs.cache
api/CineTec/obj/Debug/CineTec.csproj.FileListAbsolute.txt
api/CineTec/obj/Debug/CineTec.dll
api/CineTec/obj/Debug/CineTec.pdb
api/CineTec/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
