<h1>Welcome {{ dataAdmin?.name }} to Editor!</h1>

<div class="container">
  <!-- Botones en la parte superior -->
  <div class="btn-group" role="group">
    <button
      *ngFor="let entity of entities"
      type="button"
      class="btn animated-btn"
      (click)="setSelectedEntity(entity.value)"
    >
      {{ entity.label }}
    </button>
  </div>

  <!-- Área de contenido inferior -->
  <div class="content-area">
    <!-- Sidebar -->
    <div class="sidebar">
      <div *ngIf="selectedEntity === 'movies'">
        <button class="add-entity-btn" (click)="addNewMovie()">
          <i class="fas fa-plus-circle"></i>
          Agregar película
        </button>

        <ng-container *ngIf="movies && movies.length > 0; else noEntity">
          <ul>
            <li *ngFor="let movie of movies">
              <button class="list-entities-btn" (click)="selectMovie(movie)">
                <img [src]="movie.image" alt="{{ movie.oname }}" />
                <div class="list-entities-info">
                  <h2>{{ movie.oname }}</h2>
                  <p>{{ movie.cname }}</p>
                </div>
              </button>
            </li>
          </ul>
        </ng-container>
        <ng-template #noEntity>
          <div class="no-entity-message">
            <p>No se encontraron películas 🎬</p>
          </div>
        </ng-template>
      </div>
      <div *ngIf="selectedEntity === 'cinemas'">
        <button class="add-entity-btn" (click)="addNewCinema()">
          <i class="fas fa-plus-circle"></i>
          Agregar Surcursal
        </button>

        <ng-container *ngIf="cinemas && cinemas.length > 0; else noEntity">
          <ul>
            <li *ngFor="let cinema of cinemas">
              <button class="list-entities-btn" (click)="selectCinema(cinema)">
                <div class="list-entities-info">
                  <h2>{{ cinema.name }}</h2>
                  <p>{{ cinema.province }}</p>
                </div>
              </button>
            </li>
          </ul>
        </ng-container>
        <ng-template #noEntity>
          <div class="no-entity-message">
            <p>No se encontraron surcursales 🍿</p>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Editor -->
    <div class="editor">
      <div *ngIf="selectedEntity === 'movies' && selectedMovie != null">
        <h2>Editando: {{ selectedMovie.oname }}</h2>
        <form>
          <div class="form-group">
            <label for="cname">Nombre Comercial:</label>
            <input id="cname" [(ngModel)]="selectedMovie.cname" name="cname" />
          </div>
          <div class="form-group">
            <label for="rating">Clasificación:</label>
            <input
              id="rating"
              [(ngModel)]="selectedMovie.rating"
              name="rating"
            />
          </div>
          <div class="form-group">
            <label for="director">Director:</label>
            <input
              id="director"
              [(ngModel)]="selectedMovie.director"
              name="director"
            />
          </div>
          <div class="form-group">
            <label for="duration">Duración:</label>
            <input
              id="duration"
              [(ngModel)]="selectedMovie.duration"
              name="duration"
            />
          </div>
          <div class="form-group">
            <label for="image">Imagen URL:</label>
            <input id="image" [(ngModel)]="selectedMovie.image" name="image" />
          </div>
          <div class="form-group list-container">
            <label>Protagonistas:</label>
            <div
              *ngFor="
                let prota of selectedMovie?.prota;
                let i = index;
                trackBy: trackByFunction
              "
            >
              <input
                [ngModel]="getSafeProta(i)"
                (ngModelChange)="setSafeProta(i, $event)"
                name="prota{{ i }}"
              />
              <button type="button" (click)="removeProta(i)">
                <i class="fas fa-trash"></i> Eliminar Prota
              </button>
            </div>
            <button type="button" (click)="addProta()">
              <i class="fas fa-plus"></i> Agregar Prota
            </button>
          </div>
          <button
            type="submit"
            class="action-btn submit-btn"
            (click)="submitMovie()"
          >
            Subir Película
          </button>
          <button
            *ngIf="selectedMovie.oname !== '--New Movie--'"
            type="button"
            class="action-btn delete-btn"
            (click)="deleteMovie()"
          >
            Eliminar Película
          </button>
        </form>
      </div>
      <div *ngIf="selectedEntity === 'cinemas' && selectedCinema != null">
        <h2>Editando: {{ selectedCinema.name }}</h2>
        <form>
          <div class="form-group">
            <label for="province">Nombre Provincia:</label>
            <input
              id="province"
              [(ngModel)]="selectedCinema.province"
              name="province"
            />
          </div>
          <div class="form-group">
            <label for="country">Pais:</label>
            <input
              id="country"
              [(ngModel)]="selectedCinema.country"
              name="country"
            />
          </div>
          <div class="form-group">
            <label for="roomsamount">Cantidad de salas:</label>
            <input
              id="roomsamount"
              [(ngModel)]="selectedCinema.roomsamount"
              name="roomsamount"
            />
          </div>
          <div class="form-group list-container">
            <label>ID Sala:</label>
            <div
              *ngFor="
                let roomid of selectedCinema?.roomid;
                let i = index;
                trackBy: trackByFunction
              "
            >
              <input
                [ngModel]="getSafeRoomid(i)"
                (ngModelChange)="setSafeRoomid(i, $event)"
                name="roomid{{ i }}"
              />
              <button type="button" (click)="removeRoomid(i)">
                <i class="fas fa-trash"></i> Eliminar Roomid
              </button>
            </div>
            <button type="button" (click)="addRoomid()">
              <i class="fas fa-plus"></i> Agregar Roomid
            </button>
          </div>
          <button
            type="submit"
            class="action-btn submit-btn"
            (click)="submitCinema()"
          >
            Subir Sucursal
          </button>
          <button
            *ngIf="selectedCinema.name !== '--New Cinema--'"
            type="button"
            class="action-btn delete-btn"
            (click)="deleteCinema()"
          >
            Eliminar Sucursal
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
