.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% del viewport height */
}

.btn-group {
  width: 100%; /* Cubrirá todo el ancho del contenedor padre */
  display: flex;
  justify-content: space-around; /* Distribuir botones uniformemente a través del ancho */
  background-color: var(--column2-bg); /* Color de fondo del banner */
  flex: 0; /* No queremos que este contenedor crezca */
}

.sidebar {
  width: 20%;
  background-color: var(--column1-bg);
  color: var(--text);
  /* más estilos */
}
.editor {
  flex: 1;
  /* más estilos */
}

.animated-btn {
  text-decoration: none;
  color: var(--text);
  background-color: var(--primary);
  padding: 1.5rem 3rem;
  margin: 1rem;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.animated-btn:hover,
.animated-btn:focus {
  background-color: var(--accent); /* Puedes elegir otro color si prefieres */
  box-shadow: 0px 6px 10px rgba(150, 150, 150, 0.7);
  transform: scale(1.05);
  font-weight: bolder;
}
