<div class="container">
  <!-- Botones en la parte superior -->
  <div class="btn-group" role="group">
    <button
      *ngFor="let entity of entities"
      type="button"
      class="btn animated-btn"
      (click)="setSelectedEntity(entity.value)"
    >
      {{ entity.label }}
    </button>
  </div>

  <!-- Área de contenido inferior -->
  <div class="content-area">
    <!-- Sidebar -->
    <div class="sidebar">
      <div *ngIf="selectedEntity === 'movies'">
        <ng-container *ngIf="movies && movies.length > 0; else noEntity">
          <ul>
            <li *ngFor="let movie of movies">
              <button class="movie-btn" (click)="selectMovie(movie)">
                <img [src]="movie.image" alt="{{ movie.oname }}" />
                <div class="movie-info">
                  <h2>{{ movie.oname }}</h2>
                  <p>{{ movie.cname }}</p>
                </div>
              </button>
            </li>
          </ul>
        </ng-container>
        <ng-template #noEntity>
          <div class="no-entity-message">
            <p>No se encontraron películas 🎬</p>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Editor -->
    <!-- Editor -->
    <div class="editor">
      <div *ngIf="selectedEntity === 'movies' && selectedMovie != null">
        <h2>Editando: {{ selectedMovie?.oname }}</h2>
        <form>
          <div class="form-group">
            <label for="cname">Nombre Comercial:</label>
            <input id="cname" [(ngModel)]="selectedMovie.cname" name="cname" />
          </div>
          <div class="form-group">
            <label for="rating">Clasificación:</label>
            <input
              id="rating"
              [(ngModel)]="selectedMovie.rating"
              name="rating"
            />
          </div>
          <div class="form-group">
            <label for="director">Director:</label>
            <input
              id="director"
              [(ngModel)]="selectedMovie.director"
              name="director"
            />
          </div>
          <div class="form-group">
            <label>Protagonistas:</label>
            <div *ngFor="let prota of selectedMovie?.prota; let i = index">
              <input
                [ngModel]="getSafeProta(i)"
                (ngModelChange)="setSafeProta(i, $event)"
                name="prota{{ i }}"
              />
              <button type="button" (click)="removeProta(i)">
                Eliminar Prota
              </button>
            </div>
            <button type="button" (click)="addProta()">Agregar Prota</button>
          </div>
          <!-- más campos aquí -->
          <button type="submit" (click)="updateMovie()">
            Actualizar Película
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
