.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex: 0;
}

.content-area {
  flex: 1;
  display: flex;
}

.sidebar {
  flex: 0 0 20%; /* No crecer, no encoger, ancho base del 20% */
  background-color: var(--column1-bg);
  color: var(--text);
}

.editor {
  flex: 1; /* Tomar todo el espacio disponible */
}

.animated-btn {
  text-decoration: none;
  color: var(--text);
  background-color: var(--primary);
  padding: 1.5rem 3rem;
  margin: 1rem;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.animated-btn:hover,
.animated-btn:focus {
  background-color: var(--accent); /* Puedes elegir otro color si prefieres */
  box-shadow: 0px 6px 10px rgba(150, 150, 150, 0.7);
  transform: scale(1.05);
  font-weight: bolder;
}

.movie-btn {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.2s;
}

.movie-btn img {
  width: 50px;
  height: auto;
  border-radius: 8px;
}

.movie-info {
  margin-left: 8px;
}

.movie-info h2 {
  font-size: 1.2em;
  margin: 0;
}

.movie-info p {
  font-size: 0.8em;
  color: #777;
  margin: 0;
}

.movie-btn:hover,
.movie-btn:focus {
  background-color: #f0f0f0;
  transform: scale(1.05);
}
.no-entity-message {
  color: red;
  font-size: 1.2em;
  align-items: center;
  font-weight: bold;
  text-align: center;
  border: 2px dashed red;
  padding: 1.5rem 3rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.1);
}
