<h1>Welcome {{ dataAdmin?.name }} to Editor!</h1>
<p>admin-editor works!</p>

<div class="container">
  <!-- Botones en la parte superior -->
  <div class="btn-group" role="group">
    <button
      *ngFor="let entity of entities"
      type="button"
      class="btn animated-btn"
      (click)="setSelectedEntity(entity.value)"
    >
      {{ entity.label }}
    </button>
  </div>

  <!-- Sidebar y editor en la parte inferior -->
  <div class="content-area">
    <div class="sidebar">
      <ul *ngIf="selectedEntity === 'movies'">
        <li *ngFor="let movie of movies">{{ movie.oname }}</li>
      </ul>
    </div>
    <div class="editor">
      <div *ngIf="selectedEntity === 'movies'">
        Movie details
        <h2>Editando: {{ selectedMovie?.oname }}</h2>
      </div>
    </div>
  </div>
</div>
